// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$bb-color-black: #000;
$bb-color-white: #fff;
$bb-color-woodsmoke: #151519;
$bb-color-cod-gray: #211c1c;
$bb-color-masala: #403838;
$bb-color-Feijoa: #adda78;
$bb-color-lynch: #61748b;
$bb-color-lavender-blush: #fff1f3;

$bb-border-radius-regular: 0.3rem;

$bb-spacing-xsmall: 0.3rem;
$bb-spacing-small: 0.5rem;
$bb-spacing-regular: 1rem;
$bb-spacing-large: 1.5rem;

$bb-height-regular: 2.4rem;

$bb-text-color-1: $bb-color-lynch;
$bb-text-color-2: $bb-color-black;

$bb-element-outline-accent: $bb-color-Feijoa;

$bb-bg-color-1: $bb-color-masala;
$bb-bg-color-2: $bb-color-white;

$bb-font-size-regular: 1rem;
$bb-font-size-large: 1.25rem;
$bb-font-size-xlarge: 4rem;

$bb-lighten-light: 5%;

$bb-font-weight-light: 200;
$bb-font-weight-regular: 400;
$bb-font-weight-bold: 700;

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: $bb-color-cod-gray;
$dark-page: linear-gradient(180deg, $bb-color-woodsmoke 0%, #070707 100%);

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
